{% extends "learning_logs/base.html" %}

{% block header %}
  <div class='jumbotron'>
    <h1>Track your learning.</h1>
    <p>这是一个超大屏幕（Jumbotron）的实例，恭喜自己完成了django的学习
       和heroku的部署。
    </p>
    <p><a class="btn btn-primary btn-lg" role="button"
      href="{% url 'users:register' %}">
      注册</a>
    </p>
  </div>
{% endblock header %}

{% block content %}
  <h2>
    <a href="{% url 'users:register' %}">Register an account</a> to make
        your own Learning Log, and list the topics you're learning about.
  </h2>
  <h2>
    Whenever you learn something new about a topic, make an entry
    summarizing what you've learned.
  </h2>


{% comment "知识点" %}
<div class='jumbotron'>：定义超大屏幕
{% endcomment %}

{% endblock content %}